body {
  background-color: #161616;
}

.table {
  width: 100%;
  background-color: #393939;
  color: #fff;
  border-collapse: collapse;
}

.header-row {
  background-color: #393939;
  color: #fff;
}

.data-row:nth-child(even) {
  background-color: #393939;
  color: #fff;
}

.data-row:nth-child(odd) {
  background-color: #555;
  color: #fff;
}

.table th,
.table td {
  padding: 8px;
}

.select-dropdown {
  background-color: #555;
  color: #fff;
  margin: 10px;
}

#high {
  color: red;
}

#mid {
  color: blue;
}

#low {
  color: yellow;
}

.status-cell {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 20%;
  color: white;
}

.status-cell.blue {
  background-color: blue;
}

.status-cell.light-orange {
  background-color: lightorange;
}

.status-cell.gray {
  background-color: gray;
}


.data-row .summary-cell {
  max-height: 1.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}